  <aside id="settext" class="lightbox">
    <div class="lightbox-centerer">
      <div class="lightbox-content">
        <div>
          <a class="lightbox-close right" href="#">Close</a>
          <h3 class="lightbox-title">Set sample text</h3>
        </div>

        <form action="/sampletext" method="post">
          <textarea class="lightbox-textarea" name="sampletext">{{ sampletext }}</textarea>
          <button class="lightbox-submit right">Set sample text</button>
        </form>

        <form action="/delete-sampletext" method="post">
          <button class="lightbox-submit left">Use default</button>
        </form>
      </div>
    </div>
  </aside>


