* {
  margin: 0;
  padding: 0;

  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
       -o-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font: 20px/1.5 "Open Sans", "Helvetica", Sans-Serif, Serif;
}

main {
  display: block;
  width: 700px;
  margin: 0 auto;
  padding: 150px 0;
}

@media screen and (max-width: 720px) {
  main {
    width: 90%;
  }
}

h1 {
  font-weight: normal;
}

h2, h3, h4, h5, h6 {
  margin-top: 1.3em;
  margin-bottom: 0.75em;
}

header, footer {
  background-color: #000;
  color: #fff;
}

header {
  padding: 0 0 0 150px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

footer {
  font-size: .8em;
  padding: 0.5em 0;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

@media screen and (max-width: 1000px) {
  header, footer {
    padding-left: 50px;
  }
}

@media screen and (max-width: 800px) {
  header, footer {
    padding-left: 10px;
  }
}

footer a {
  color: #999;
}

pre, code {
  font: 20px/1.5 "Roboto", Sans-Serif, Serif;
}

pre {
  background-color: #ddd;
  padding: 1em;
  border-radius: 3px;
  border: 1px solid #999;
  margin: .5em 0;
}

code {
  font-style: italic;
}

dt {
  float: left;
  width: 25%;
  font-weight: bold;
}

dd {
  float: left;
  width: 75%;
}

.fontlist, .fontlist li {
  list-style-type: none;
}

.fontlist a {
  color: #333;
  text-decoration: none;
  border-bottom: 1px dotted #333;
}

.fontlist a:hover {
  color: #339;
  border-bottom: 1px dotted #339;
}

