{% extends 'layout.html' %}

{% block title %}connect-fonts - {{ packConfig.font_common.family }}{% endblock %}

{% block head %}
  {% parent %}
  <link href="/en/{{ cssNames }}/fonts.css" rel="stylesheet"/>
  <style>
  {% for item in fonts %}
    .{{ loop.key }} {
      font-family: "{{ item.fontFamily }}";
      font-weight: {{ item.fontWeight }};
      font-style: {{ item.fontStyle }};
    }
  {% endfor %}
  </style>
{% endblock %}

<!-- do not call the parent -->
{% block navitems %}
  {% parent %}
  {% if font.packConfig.font_common || font.packConfig.package || font.packConfig.author %}
    <li>
      <a href="#extendedinfo">View extended info</a>
    </li>
  {% endif %}
  <li>
    <a href="#settext">Set example text</a>
  </li>
{% endblock %}


{% block content %}
  <h2 class="nomargin">{{ packConfig.font_common.family }}</h2>
  {% include "partials/package-info.html" %}

  <ul class="fontlist">
  {% for item in fonts %}
    <li class="{{ loop.key }}">
      <h4><a href="/font/{{ loop.key }}">{{ loop.key }}</a></h3>

      <p class="sampletext">
      {{ sampletext }}
      </p>
    </li>
  {% endfor %}
  </ul>

  {% include "partials/family-info.html" %}
  {% include "partials/set-example-text.html" %}
{% endblock %}


