{% extends 'layout.html' %}

{% block title %}connect-fonts - family list{% endblock %}

{% block head %}
  {% parent %}
  <link href="/en/{{ cssNames }}/fonts.css" rel="stylesheet"/>
  <style>
  {% for item in fonts %}
    .{{ item.cssname }} {
      font-family: "{{ item.fontFamily }}";
      font-weight: {{ item.fontWeight }};
      font-style: {{ item.fontStyle }};
    }
  {% endfor %}
  </style>
{% endblock %}

<!-- do not call the parent -->
{% block navitems %}
  <li>
    <a class="underline" href="#settext">Set example text</a>
  </li>
{% endblock %}


{% block content %}
  <h2 class="nomargin">Family list</h2>

  <ul class="fontlist">
  {% for item in fonts %}
    <li>
      <h4>
        <a class="underline {{ item.cssname }}"
          title="{{ item.familyName }} {% if item.packConfig.font_common.designer %}by {{ item.packConfig.font_common.designer }} {% endif %}"
          href="/family/{{ item.familyName }}">{{ item.familyName }}</a>
        ({{ item.count }} style{% if item.count != 1 %}s{% endif %})
      </h4>
      <p class="sampletext {{ item.cssname }}">
      {{ sampletext }}
      </p>
    </li>
  {% endfor %}
  </ul>

  {% include "partials/set-example-text.html" %}
{% endblock %}


