{% extends 'layout.html' %}

{% block title %}connect-fonts - {{ font.name }}{% endblock %}

{% block head %}
  {% parent %}
  <link href="/en/{{ font.name }}/fonts.css" rel="stylesheet"/>
  <style>
  body {
    font-family:"{{ font.fontFamily }}";
    font-weight: {{ font.fontWeight }};
    font-style: {{ font.fontStyle }};
  }
  </style>
{% endblock %}

{% block navitems %}
  {% if font.packConfig.count > 1 %}
    <li>
      <a class="underline" href="/family/{{ font.fontFamily }}">{{ font.fontFamily }}</a>
    </li>
  {% endif %}
  {% parent %}
  {% if font.packConfig.font_common || font.packConfig.package || font.packConfig.author %}
    <li>
      <a class="underline" href="#extendedinfo">View extended info</a>
    </li>
  {% endif %}
  <li>
    <a class="underline" href="#settext">Set example text</a>
  </li>
{% endblock %}


{% block content %}

  <h2 class="nomargin">
  {{ font.name }}
  </h2>
  {% include "partials/package-info.html" with font %}


  <section class="samples">

    <h4>36px</h4>
    <p class="sampletext large">
    {{ sampletext }}
    </p>

    <h4>24px</h4>
    <p class="sampletext">
    {{ sampletext }}
    </p>

    <h4>18px</h4>
    <p class="sampletext medium">
    {{ sampletext }}
    </p>

    <h4>12px</h4>
    <p class="sampletext small">
    {{ sampletext }}
    </p>

  </section>

  {% include "partials/family-info.html" with font %}
  {% include "partials/set-example-text.html" %}


{% endblock %}


