{% extends 'layout.html' %}

{% block head %}
  {% parent %}
  <link href="/en/{{ font.name }}/fonts.css" rel="stylesheet"/>
{% endblock %}

{% block content %}
  <h2 style="font-family: {{ font.fontFamily }}; font-weight: {{ font.fontWeight }}; font-style: {{ font.fontStyle }};" class="sampletext">
  {{ font.name }}
  {% if font.packConfig.package.name %}
    {% if font.packConfig.package.homepage %}
      <small>from: <a href="{{ font.packConfig.package.homepage }}"
        target="_blank">{{ font.packConfig.package.name }}</a>
      </small>
    {% else %}
      <small>from: <a href="https://npmjs.org/package/{{ font.packConfig.package.name }}"
        target="_blank">{{ font.packConfig.package.name }}</a>
      </small>
    {% endif %}
  {% endif %}
  </h2>


  <section class="samples">

    <p style="font-family: {{ font.fontFamily }}; font-weight: {{ font.fontWeight }}; font-style: {{ font.fontStyle }};" class="sampletext large">
    Grumpy wizards make toxic brew for the evil Queen and Jack. (36px)
    </p>

    <p style="font-family: {{ font.fontFamily }}; font-weight: {{ font.fontWeight }}; font-style: {{ font.fontStyle }};" class="sampletext">
    Grumpy wizards make toxic brew for the evil Queen and Jack. (24px)
    </p>

    <p style="font-family: {{ font.fontFamily }}; font-weight: {{ font.fontWeight }}; font-style: {{ font.fontStyle }};" class="sampletext medium">
    Grumpy wizards make toxic brew for the evil Queen and Jack. (18px)
    </p>

    <p style="font-family: {{ font.fontFamily }}; font-weight: {{ font.fontWeight }}; font-style: {{ font.fontStyle }};" class="sampletext small">
    Grumpy wizards make toxic brew for the evil Queen and Jack. (12px)
    </p>

  </section>

  {% if font.packConfig.font_common %}
    <section class="fontinfo font_common">
      <h3>Font Information</h3>

      <table>
        {% if font.packConfig.font_common.description %}
        <tr>
          <td>Description</td>
          <td>{{ font.packConfig.font_common.description }}</td>
        </tr>
        {% endif %}
        {% if font.packConfig.font_common.copyright %}
        <tr>
          <td>Copyright</td>
          <td>{{ font.packConfig.font_common.copyright }}</td>
        </tr>
        {% endif %}
        {% if font.packConfig.font_common.trademark %}
        <tr>
          <td>Trademark</td>
          <td>{{ font.packConfig.font_common.trademark }}</td>
        </tr>
        {% endif %}
        {% if font.packConfig.font_common.manufacturer %}
        <tr>
          <td>Manufacturer</td>
          <td>{{ font.packConfig.font_common.manufacturer }}</td>
        </tr>
        {% endif %}
        {% if font.packConfig.font_common.url_vendor %}
        <tr>
          <td>Manufacturer URL</td>
          <td>
            <a href="{{ font.packConfig.font_common.url_vendor }}" target="_blank">
              {{ font.packConfig.font_common.url_vendor }}
            </a>
          </td>
        </tr>
        {% endif %}
        {% if font.packConfig.font_common.designer %}
        <tr>
          <td>Designer</td>
          <td>{{ font.packConfig.font_common.designer }}</td>
        </tr>
        {% endif %}
        {% if font.packConfig.font_common.url_designer %}
        <tr>
          <td>Designer URL</td>
          <td>
            <a href="{{ font.packConfig.font_common.url_designer }}" target="_blank">
              {{ font.packConfig.font_common.url_designer }}
            </a>
          </td>
        </tr>
        {% endif %}
        {% if font.packConfig.license.name %}
        <tr>
          <td>License</td>
          <td>
            {% if font.packConfig.license.url %}
              <a href="{{ font.packConfig.license.url }}" target="_blank">
                {{ font.packConfig.license.name }}
                {{ font.packConfig.license.version }}
              </a>
            {% else %}
                {{ font.packConfig.license.name }}
                {{ font.packConfig.license.version }}
            {% endif %}
          </td>
        </tr>
        {% endif %}
      </table>
    </section>
  {% endif %}

  {% if font.packConfig.package %}
    <section class="fontinfo package">
      <h3>Package Information</h3>
      <table>
        {% if font.packConfig.package.name %}
        <tr>
          <td>Name</td>
          <td>{{ font.packConfig.package.name }}</td>
        </tr>
        {% endif %}
        {% if font.packConfig.package.homepage %}
        <tr>
          <td>Homepage</td>
          <td>
            <a href="{{ font.packConfig.package.homepage }}" target="_blank">
              {{ font.packConfig.package.homepage }}
            </a>
          </td>
        </tr>
        {% endif %}
        {% if font.packConfig.package.repourl %}
        <tr>
          <td>Repo</td>
          <td>
            <a href="{{ font.packConfig.package.repourl }}" target="_blank">
              {{ font.packConfig.package.repourl }}
            </a>
          </td>
        </tr>
        {% endif %}
        {% if font.packConfig.package.bugsurl %}
        <tr>
          <td>Issue Tracker</td>
          <td>
            <a href="{{ font.packConfig.package.bugsurl }}" target="_blank">
              {{ font.packConfig.package.bugsurl }}
            </a>
          </td>
        </tr>
        {% endif %}
      </table>
    </section>
  {% endif %}


  {% if font.packConfig.author %}
    <section class="fontinfo author">
      <h3>Author Information</h3>
      <table>
        {% if font.packConfig.author.name %}
        <tr>
          <td>Name</td>
          <td>{{ font.packConfig.author.name }}</td>
        </tr>
        {% endif %}
        {% if font.packConfig.author.urls%}
        <tr>
          <td>Homepage</td>
          <td>
            {% for url in font.packConfig.author.urls %}
              <li>
                <a href="{{ url }}" target="_blank">
                  {{ url }}
                </a>
              </li>
            {% endfor %}
          </td>
        </tr>
        {% endif %}
        {% if font.packConfig.author.emails %}
        <tr>
          <td>Emails</td>
          <td>
            <ul>
              {% for email in font.packConfig.author.emails %}
                <li>{{ email }}</li>
              {% endfor %}
            </ul>
          </td>
        </tr>
        {% endif %}
        {% if font.packConfig.author.githubs %}
        <tr>
          <td>GitHub Repos</td>
          <td>
              {% for github in font.packConfig.author.githubs %}
                <li>
                  <a href="{{ github }}" target="_blank">
                    {{ github }}
                  </a>
                </li>
              {% endfor %}
          </td>
        </tr>
        {% endif %}
        {% if font.packConfig.author.twitter %}
        <tr>
          <td>Twitter</td>
          <td>
            <a href="https://twitter.com/{{ font.packConfig.author.twitter }}" target="_blank">
              {{ font.packConfig.author.twitter }}
            </a>
          </td>
        </tr>
        {% endif %}
      </table>
    </section>
  {% endif %}


{% endblock %}


