{% extends 'layout.html' %}

{% block title %}connect-fonts - family list{% endblock %}

{% block head %}
  {% parent %}
  <link href="/en/{{ cssNames }}/fonts.css" rel="stylesheet"/>
  <style>
  <!-- creates one class for each font -->
  {% for item in families %}
    .{{ item.cssname }} {
      font-family: "{{ item.fontFamily }}";
      font-weight: {{ item.fontWeight }};
      font-style: {{ item.fontStyle }};
    }
  {% endfor %}
  </style>
{% endblock %}

<!-- do not call the parent -->
{% block navitems %}
{% endblock %}


{% block content %}
  <h2 class="nomargin">Family list</h2>

  <ul class="fontlist">
  {% for item in families %}
    <li class="{{ item.cssname }}">
      <a href="/family/{{ item.familyName }}">{{ item.familyName }}</a></li>
  {% endfor %}
  </ul>
{% endblock %}


