
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}connect-fonts - font serving middleware for Connect/Express{% endblock %}</title>

  {% block head %}
    <link rel="stylesheet" href="/en/quicksand-regular,quicksand-bold,roboto-regular,roboto-italic/fonts.css" />
    <link rel="stylesheet" href="/css/style.css" />
  {% endblock %}
</head>
<body>
  <header>
    <h1><a href="/">Connect-fonts</a></h1>
    <h2>Connect/Express Font Serving Middleware</h2>
  </header>

  <nav>
    {% block nav %}
      <ul>
        {% block navitems %}
          <li>
            <a class="underline" href="/families">Families List</a>
          </li>
        {% endblock %}
        <li class="widescreen">
          <a class="underline" href="#top">Top</a>
        </li>
      </ul>
    {% endblock %}
  </nav>

  <main id="top">
    {% block content %}{% endblock %}
  </main>

  <footer>
    Site created by <a href="https://github.com/shane-tomlinson"
    target="_blank">Shane Tomlinson</a>,
    licensed under the MPL 2.0 - Source availale @ <a
    href="https://github.com/shane-tomlinson/connect-fonts.org"
    target="_blank">GitHub</a>.
  </footer>
  <script src="https://rum-diary.org/include.js"></script>
</body>
</html>
